body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-inline: 2.5%;
}
/* mobile */
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  .main {
    flex-direction: column;
  }
}

.prevArrow::before,
.nextArrow::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 5px 0 5px 8px; /* 화살표 크기 조절 */
  border-color: transparent transparent transparent #ffffff; /* 화살표 색상 */
}

/* 전체 웹페이지에 적용되는 스크롤 바 스타일 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤 바의 너비 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤 바 트랙(바탕)의 색상 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2; /* 스크롤 바 자체의 색상 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤 바를 호버했을 때의 색상 */
  border-radius: 10px;
}
